<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Buy - {{page_title}}</title>
    <link href="{{url_for('static', filename='/images/logo.ico')}}" rel="shortcut icon"/>
    <link href="/static/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <!--Login Page-->
    {% block login_content %}
    {% endblock %}

    <!--Signup Page-->
    {% block signup_content %}
    {% endblock %}

    <!--Main Page-->
    {% block home_content %}
    {% endblock %}

    <!--Navigation Functions-->
    <script src="../static/scripts/navigation.js"></script>
</body>
</html>