{% extends "index.html" %}
{% block login_content %}
<img id="login-logo" src="/static/images/2b-logo.png" alt="website-logo">
<form id="login-form" name="login-form" action="#" method="get">
    <table class="login-grid" aria-label="Login Container">
        <tr>
            <th id="content-title" colspan="3">Login to 2Buy</th>
        </tr>
        <tr>
            <td id="table-quote" rowspan="2">
                <h1 class="table-data" id="login-quote">Listing of shopping items simplified.</h1>
            </td>
            <td>
                <p class="table-data" id="username-label">Username</p>
            </td>
            <td>
                <input class="table-data" id="username-entry" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <p class="table-data" id="password-label">Password</p>
            </td>
            <td>
                <input class="table-data" id="password-entry" type="password"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <input id="login-button" type="submit" value="Login" onclick="validate()"/>
                <div id="separator">or</div>
                <input id="signup-button" type="button" value="Signup" onclick=""/>
                <p id="signup-text">to create a new account.</p>
            </td>
        </tr>
    </table>
</form>
{% endblock %}